
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="nav justify-content-center">

  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/barchart">Bar-Chart</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/piechart">Pie-Chart</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/radarchart">Radar-Chart</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/doughnutchart">Doughnut-Chart</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/bubblechart">Bubble-Chart</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>

</ul>
  </div>
</nav>
