<div class="row">
<div class="col-sm-4 ">
<div class="card">
  <h5 class="card-header">Bar Chart</h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <app-barchart></app-barchart>>
  </div>
</div>
</div>
  <div class="col-sm-4">
<div class="card">
  <h5 class="card-header">Radar Chart</h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <app-radarchart></app-radarchart>
  </div>
</div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header">Radar Chart</h5>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <app-bubblechart></app-bubblechart>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-6 ">
      <div class="card">
        <h5 class="card-header">Doughnut Chart</h5>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <app-doughnutchart></app-doughnutchart>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="card">
        <h5 class="card-header">Pie Chart</h5>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <app-piechart></app-piechart>
        </div>
      </div>
    </div>

  </div>

